<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hutoch.m2dl.screamingbird">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".jeu.TestActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateurNiveauActivity"
            android:label="@string/title_createur_niveau"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ScoreboardActivity"
            android:label="@string/title_scoreboard"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SelecteurNiveauActivity"
            android:label="@string/title_selecteur_niveau"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".jeu.JeuActivity"
            android:label="@string/title_jeu"
            android:parentActivityName=".SelecteurNiveauActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelecteurNiveauActivity" />
        </activity>
        <activity
            android:name=".FinDeJeuActivity"
            android:label="@string/title_fin_de_jeu"
            android:parentActivityName=".jeu.JeuActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".jeu.JeuActivity" />
        </activity>
    </application>

</manifest>